.cartContainer {
  width: 50%;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
}
.cartContainer .cartContainer-title {
  border-bottom: 2px solid #333;
  text-align: center;
  margin: 3px 0;
  font-weight: bold;
}
.cartContainer .cartItemContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 15px;
  box-shadow: 2px 2px 3px #c0c0c0;
  margin: 5px 0px;
}
.cartContainer .cartItemContainer img {
  width: 150px;
  margin-right: 20px;
}
.cartContainer .cartItemContainer .item-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.cartContainer .cartItemContainer .item-info .item-info-details p {
  margin: 10px 0px;
}
.cartContainer .cart-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.cartContainer .cart-price {
  font-size: 25px;
}

button {
  display: inline-block;
  border: 0;
  background-color: #2a5ea5;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
}

.order-info {
  display: flex;
  flex-direction: column;
  height: "100%";
}
.order-info .alert-success {
  background-color: green;
  padding: 10px;
  text-align: center;
  color: #fff;
}
.order-info table {
  border: 1px solid #c0c0c0;
}
.order-info table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
}
.order-info table tr:last-of-type {
  border-bottom: 0;
}
.order-info table td {
  padding: 20px;
}
.order-info table td .item-data {
  padding: 5px;
}

.close-order-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #333;
  font-size: 22px;
  color: #ddd;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  align-items: center;
}