.checkout-form{
    position: fixed;
    bottom: 0px;
    left: 9px;
    background-color: #ddd;
    width: 100%;

    .close-form{
      position: absolute;
      top: 0px;
      right: 10px;
      padding: 10px;
      background-color: #333;
      font-size: 22px;
      color: #ddd;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      align-items: center;
    }

    form{
      padding: 30px;

      >div{
        padding: 10px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;

        label{
          margin: 10px 0px;
        }

        input{
          height: 35px;
          padding: 5px;
          border: 1px solid #c0c0c0;
        }
      }
    }
  }